################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Gastos-BackEnd/.vs/Gastos-BackEnd
/Gastos-BackEnd/.vs/ProjectEvaluation
/Gastos-BackEnd/bin/Debug/net7.0
